
.btn {
	-webkit-appearance: none;
	display: block;
	color: white;
	text-decoration: none;
	background: #2ba6cb;
	border: 1px solid #1e728c;
	font-weight: bold;
	font-size: 1em;
	line-height: 1;
	margin: 0;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.btn.success {
	background: #BADA55;
	border: 1px solid #93ad41;
}
.btn.alert {
	background: #c60f13;
	border: 1px solid #7f0a0c;
}
.btn:before {
	padding-right: .5em;
}

.btn-group {
	white-space: nowrap;
	@extend .clearfix;
}
.btn-group .btn {
	float: left;
	display: block;
	border-left-width: 0;
}
.btn-group .btn:nth-of-type(odd) {
	border-right-width: 1px;
}
.btn-group .btn:first-child {
	border-left-width: 1px;
}

form .text,
form .email,
textarea {
	-webkit-appearance: none;
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	padding: 6px;
	height: 32px;
	width: 100%;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
textarea {
	height: auto;
}

/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
*/

.checkbox.switch {
	position: absolute;
	opacity: 0;
}
.switch-label {
	display: block;
	position: relative;
	margin-bottom: 12px;
}
.checkbox.switch + div {
	display: inline-block;
	vertical-align: middle;
	width: 3em;
	height: 1em;
	font-size: 180%; /* change this and see how they adjust! */
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 .5em;
	background: white;
	overflow: hidden;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	-ms-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: padding, width, background-position, text-indent;
	-o-transition-property: padding, width, background-position, text-indent;
	-ms-transition-property: padding, width, background-position, text-indent;
	transition-property: padding, width, background-position, text-indent;
}
.checkbox.switch:checked + div {
	padding-left: 2em;
	width: 3em;
}
.checkbox.switch + div:before {
	content: 'On';
	float: left;
	width: 1.65em;
	height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: -webkit-linear-gradient(rgba(0,0,0,.2), transparent);
	background-image: -o-linear-gradient(rgba(0,0,0,.2), transparent);
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	-webkit-box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset, 0 0 .5em rgba(0,0,0,.3);
	box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset, 0 0 .5em rgba(0,0,0,.3);
	color: #2ba6cb;
	text-indent: -2.5em;
}
.checkbox.switch:active + div:before {
	background-color: #eee;
}
.checkbox.switch + div:before,
.checkbox.switch + div:after {
	font-size: 60%;
	font-weight: bold;
	line-height: 1.7em;
	text-transform: uppercase;
}
.checkbox.switch + div:after {
	content: 'Off';
	float: left;
	text-indent: .5em;
	color: #c60f13;
}
