$use-silent-classes: false;
$class-type: unquote(".");
@if $use-silent-classes == true{
	$class-type: unquote("%");
}

#{$class-type}grid{
	list-style:none;
	margin:0;
	padding:0;
	margin-left:-$gutter;
	letter-spacing:-0.31em;
	//word-spacing:-0.43em;
}

#{$class-type}grid__item{
	display:inline-block;
	padding-left:$gutter;
	vertical-align:top;
	letter-spacing:normal;
	word-spacing:normal;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}

@mixin device-type($namespace:""){
	#{$class-type}#{$namespace}one-whole         { width:100%; }

	#{$class-type}#{$namespace}one-half          { width:50%; }

	#{$class-type}#{$namespace}one-third         { width:33.333%; }
	#{$class-type}#{$namespace}two-thirds        { width:66.666%; }

	#{$class-type}#{$namespace}one-quarter       { width:25%; }
	#{$class-type}#{$namespace}two-quarters      { @extend #{$class-type}#{$namespace}one-half; }
	#{$class-type}#{$namespace}three-quarters    { width:75%; }

	#{$class-type}#{$namespace}one-fifth         { width:20%; }
	#{$class-type}#{$namespace}two-fifths        { width:40%; }
	#{$class-type}#{$namespace}three-fifths      { width:60%; }
	#{$class-type}#{$namespace}four-fifths       { width:80%; }

	#{$class-type}#{$namespace}one-sixth         { width:16.666%; }
	#{$class-type}#{$namespace}two-sixths        { @extend #{$class-type}#{$namespace}one-third; }
	#{$class-type}#{$namespace}three-sixths      { @extend #{$class-type}#{$namespace}one-half; }
	#{$class-type}#{$namespace}four-sixths       { @extend #{$class-type}#{$namespace}two-thirds; }
	#{$class-type}#{$namespace}five-sixths       { width:83.333%; }

	#{$class-type}#{$namespace}one-eighth        { width:12.5%; }
	#{$class-type}#{$namespace}two-eighths       { @extend #{$class-type}#{$namespace}one-quarter; }
	#{$class-type}#{$namespace}three-eighths     { width:37.5%; }
	#{$class-type}#{$namespace}four-eighths      { @extend #{$class-type}#{$namespace}one-half; }
	#{$class-type}#{$namespace}five-eighths      { width:62.5%; }
	#{$class-type}#{$namespace}six-eighths       { @extend #{$class-type}#{$namespace}three-quarters; }
	#{$class-type}#{$namespace}seven-eighths     { width:87.5%; }

	#{$class-type}#{$namespace}one-tenth         { width:10%; }
	#{$class-type}#{$namespace}two-tenths        { @extend #{$class-type}#{$namespace}one-fifth; }
	#{$class-type}#{$namespace}three-tenths      { width:30%; }
	#{$class-type}#{$namespace}four-tenths       { @extend #{$class-type}#{$namespace}two-fifths; }
	#{$class-type}#{$namespace}five-tenths       { @extend #{$class-type}#{$namespace}one-half; }
	#{$class-type}#{$namespace}six-tenths        { @extend #{$class-type}#{$namespace}three-fifths; }
	#{$class-type}#{$namespace}seven-tenths      { width:70%; }
	#{$class-type}#{$namespace}eight-tenths      { @extend #{$class-type}#{$namespace}four-fifths; }
	#{$class-type}#{$namespace}nine-tenths       { width:90%; }

	#{$class-type}#{$namespace}one-twelfth       { width:8.333%; }
	#{$class-type}#{$namespace}two-twelfths      { @extend #{$class-type}#{$namespace}one-sixth; }
	#{$class-type}#{$namespace}three-twelfths    { @extend #{$class-type}#{$namespace}one-quarter; }
	#{$class-type}#{$namespace}four-twelfths     { @extend #{$class-type}#{$namespace}one-third; }
	#{$class-type}#{$namespace}five-twelfths     { width:41.666% }
	#{$class-type}#{$namespace}six-twelfths      { @extend #{$class-type}#{$namespace}one-half; }
	#{$class-type}#{$namespace}seven-twelfths    { width:58.333%; }
	#{$class-type}#{$namespace}eight-twelfths    { @extend #{$class-type}#{$namespace}two-thirds; }
	#{$class-type}#{$namespace}nine-twelfths     { @extend #{$class-type}#{$namespace}three-quarters; }
	#{$class-type}#{$namespace}ten-twelfths      { @extend #{$class-type}#{$namespace}five-sixths; }
	#{$class-type}#{$namespace}eleven-twelfths   { width:91.666%; }
	#{$class-type}#{$namespace}auto              { width: auto; }


}

@include device-type();

@media only screen and (min-width:$medium-start) and (max-width:$medium-end){
	@include device-type("medium-");
}

@media only screen and (min-width:$large-start) {
	@include device-type("large-");
}