html, body { min-height: 100%; }
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	position: relative;
}
.page {
	position: relative;
	min-height: 100%;
	background: #eee;
}
header {
	background: #111;
	color: white;
	padding: .75em 0;
	position: relative;
}
header h1 {
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
}
body .tablet-only {
	display: none;
}
section {
	padding: 10px;
}
.page aside {
	display: none;
}

#left-nav {
	position: absolute;
	z-index: -1;
	width: 84%;
	top: 0;
	bottom: 0;
	left: 0;
	background: #232323;
	color: white;
	overflow-y: scroll;
}

.block {
	margin:0;
	margin-bottom:12px;
	padding:12px;
	background-color:#BADA55;
	color:#fff;
}