html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}
html, body { min-height: 100%; overflow-x: hidden; }
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	position: relative;
}
.page {
	position: relative;
	z-index: 1;
	min-height: 100%;
	background: #eee;
}
header {
	background: #111;
	color: white;
	padding: .75em 0;
	position: relative;
}
header h1 {
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
}
body .tablet-only {
	display: none;
}
section {
	padding: 10px;
}
.page aside {
	display: none;
}

/** Main Navigation */
#main-nav li a span {
	margin: 0 6px 0 5px;
	width: 20px;
	display: inline-block;
	text-align: center;
}

#main-nav {
	display: none;
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 47px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	background: rgba(0,0,0, .5);
	color: white;
}

#main-nav li a {
	opacity: 1;
	display: block;
	margin-bottom: 0px;
	color: white;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	text-shadow: 0 1px 0 black;
	position: relative;
	top: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,1);
	padding: 10px 10px;
}
#main-nav li a.odd {
	background: #404040;
	left: 0;
}
#main-nav li a.even {
	background: #4a4a4a;
	right: 0;
}
#main-nav li a.active {
	background: #bada55;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	color: black;
}
#main-nav ul {
	position: relative;
	height: 100%;
	width: 100%;
}
#main-nav li {
	display: block;
	position: relative;
}

/* Bottom Navigation */
.bottom-bar {
	background: #111;
	color: white;
	padding: 0.5em 0;
}
.fixed-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.fixed-bottom li {
	float: left;
	text-align: center;
}
.bottom-bar a {
	color: white;
	text-decoration: none;
	display: block;
	font-size: 22px;
}
.bottom-bar span {
	display: none;
}
.bottom-bar.with-labels a {
	display: block;
	font-size: 28px;
}
.bottom-bar.with-labels a span {
	font-size: 14px;
	font-weight: bold;
	display: block;
}
.bottom-bar a.active {
	color: #bada55;
}

/** Media Object */
.media {
	@extend .clearfix;
	list-style: none;
	padding: 5px;
	margin-bottom: 10px;
	font-size: .8em;

	a {
		text-decoration: none;
		font-weight: bold;
		padding: 4px 0;
		color: #2ba6cb;
	}
	a  a {
		padding-left: 4px;
	}

	img, .img {
		float: left;
		margin: 0 10px 0 0;
		padding: 0;
	}
	.img img {
		float: none;
		display: block;
		margin-right: 0;
	}

	.bottom {
		margin-top: 3px;
		font-size: .9em;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

/** Ajax Loader */
#loader {
	position: absolute;
	top: 47px;
	width: 100%;
	height: 0px;
	z-index: 2;
	overflow: hidden;		
}
#loader > div {
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: #ccc;
	border-bottom: 1px solid #aaa;		
}
#loader.error > div {
	background: #ffa4a4;
}
#loader > div #loaderImg {
	position: absolute;
	display: none;
	height: 40px;
	width: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}
#loader > div #loaderImg img {
	height: 100%;
	width: auto;
}
#loader > div #loaderTxt {
	position: absolute;
	color: black;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(255,255,255, .6);
	font-size: 16px;
	height: 60px;
	width: 100%;
	line-height: 60px;
	text-align: center;
}