
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }
h1 { font-size: 44px; }
h2 { font-size: 37px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }

ul {
	list-style-type: square;
	list-style-position: inside;
	padding-left: 10px;
}
ul ul {
	padding-left: 15px;
}
form ul {
	padding-left: 0;
	list-style-type: none;
}